*.egg-info
*.pyc
.cache/
.coverage*
.installed.cfg
.mr.developer.cfg
.tox/
bbissues.html
bbissues.json
bin
build
coverage-report
coverage.xml
develop-eggs
dist
doc/_api
eggs
include/
lib/
local.cfg
parts
tmp/
